<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Dialog - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
          $("#dialog").dialog();
      });
  </script>
</head>
<body>

<form action="/weather" method="post">
    <button name="weatherBtn" type="submit">Show Weather</button>
</form>

<br>

<form action="/radar" method="post">
    <button name="radarBtn" type="submit">Show Radar</button>
</form>

<br>

<div id="dialog" title="Simple Weather for {{ location }}" onclose="$.getJSON('/index.html')">
    <p>Temperature: {{ temp_f }}</p>
    <p>disp_location: {{ disp_location }}</p>
    <p>list_location: {{ list_location }}</p>
</div>


</body>
</html>